<div class="login-container">
  <h2>Inicia Sesión</h2>
  <form [formGroup]="loginForm">
    <label for="nombre_usuario">Nombre de usuario:</label>
    <input type="text" id="nombre_usuario" formControlName="nombre_usuario" required>

    <label for="contrasenia">Contraseña:</label>
    <input type="password" id="contrasenia" formControlName="contrasenia" required>

    <div *ngIf="loginForm.get('nombre_usuario')?.hasError('wrongUsernameOrPassword')" class="wrongUsernameOrPassword">
      El nombre o contraseña son incorrectos
    </div>

    <button (click)="login()">Login</button>
  </form>
  <p class="create-account-link">¿No tienes una cuenta? <span class="underline-link" (click)="createAccount()">Regístrate</span></p>
</div>
