.center-content {
  text-align: center;
}

.center-content h2 {
  margin-top: 20px;
}

.center-content table {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.center-content th,
.center-content td {
  padding: 10px;
  border: 1px solid #ddd;
}

.center-content th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.center-content dd {
  margin: 0;
}
