<app-header></app-header>
<div class="center-content">
  <h2>Lista de tareas</h2>
  <table class="table">
    <thead>
      <tr>
        <th class="h4">Descripción</th>
        <th class="h4">Fecha de creación</th>
        <th class="h4">Fecha tentativa de finalización</th>
        <th class="h4">Estado</th>
        <th class="h4">Categoría</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let t of tareas">
        <td>
          <dd>{{t.texto}}</dd>
        </td>
        <td>
          <dd>{{t.fecha_creacion}}</dd>
        </td>
        <td>
          <dd>{{t.fecha_tentativa_finalizacion}}</dd>
        </td>
        <td>
          <dd>{{t.estado_display}}</dd>
        </td>
        <td>
          <dd>{{t.categoria_display}}</dd>
        </td>
      </tr>
    </tbody>
  </table>
</div>
