.center-content {
  text-align: center;
  margin-top: 20px;
}

.center-content h2 {
  margin-bottom: 10px;
}

.center-content table {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 15px;
  height: 15px;
  border-radius: 0%;
}

.icon {
  cursor: pointer;
  border: 2px solid transparent;
  transition: border-color 0.3s;
}

.icon:hover {
  border-color: #000;
}

.center-content th,
.center-content td {
  padding: 10px;
  border: 1px solid #ddd;
}

.center-content th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.center-content dd {
  margin: 0;
}

.center-content button,
.center-content form {
  margin-top: 15px;
}

.center-content form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.center-content form label {
  margin-bottom: 5px;
}

.center-content form input,
.center-content form select {
  width: 35%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.center-content form button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.center-content form button:hover {
  background-color: #45a049;
}
